{% extends 'base.html' %}
{% block head %}
<title>detail</title>
{% endblock %}

{% block body %}
    <h2 class="title">OBOG情報詳細表示</h2>
        <table class="box14">
            {% for value in results %}
            <tr>
                <th>氏名</th>
                <td>{{ value.name }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><a href="mailto:{{value.email}}">{{value.email}}</a></td>
            </tr>
            <tr>
                <th>出身地</th>
                <td>{{ value.prefecture }}</td>
            </tr>
            <tr>
                <th>出身中学校</th>
                <td>{{ value.juniorhighschoolname }}</td>
            </tr>
            <tr>
                <th>出身高等学校</th>
                <td>{{ value.highschoolname }}</td>
            </tr>
            <tr>
                <th>指導可能な分野</th>
                <td>{{ value.teaching_area }}</td>
            </tr>
            <tr>
                <th>自己PR文</th>
                <td>{{ value.pr }}</td>
            </tr>
            {%- endfor %}
        </table>
{% endblock %}