{% extends 'base.html' %}
{% block head %}
  <title>index</title>
{% endblock %}
{% block body %}
  <h2>選択してください。</h2>
  <div class="card-group">
    <div class="card">
      <img src="./images/group_business_syukatsu.png" class="card-img-top" alt="OB・OGのイメージ画像">
      <div class="card-body">
        <h5 class="card-title">OB・OGの方専用</h5>
        <p class="card-text">OB・OGの方はこちらからプロフィール登録をお願いします。</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <a href="/register_form" class="btn btn-success">登録</a>
      </div>
    </div>
    <div class="card">
      <img src = "./images/job_teacher_man.png" class = "card-img-top" alt = "教師のイメージ画像">
      <div class="card-body">
        <h5 class="card-title">教員の方専用</h5>
        <p class="card-text">教員の方はこちらからプロフィール検索ができます。</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <a href="/search" class="btn btn-primary">検索</a>
      </div>
    </div>
  </div>