{% extends 'base.html' %}
{% block head %}
  <title>index</title>
{% endblock %}
{% block body %}
  <!--<h2>選択してください。</h2>-->
  <div class="card-group" style = "width: 50%; height: 50%;">
    <div class="card">
      <img width = "50%" height = "50%" src="https://images.unsplash.com/photo-1616531759049-e493f9fbfcc2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fCVFNiU4RiVBMSVFNiU4OSU4QnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt ="">
      <div class="card-body">
        <h5 class="card-title">OB・OGの方専用</h5>
        <p class="card-text">OB・OGの方はこちらからプロフィール登録をお願いします。</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <a href="/register_form" class="btn btn-success">登録</a>
      </div>
    </div>
    <div class="card">
      <img width = "50%" height = "50%" src = "https://images.unsplash.com/photo-1578357078586-491adf1aa5ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8JUU2JThGJUExJUU2JTg5JThCfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class = "card-img-top" alt = "">
      <div class="card-body">
        <h5 class="card-title">教員の方専用</h5>
        <p class="card-text">教員の方はこちらからプロフィール検索ができます。</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <a href="/search" class="btn btn-primary">検索</a>
      </div>
    </div>
  </div>
{% endblock %}