{% extends 'base.html' %}
{% block head %}
  <title>register</title>
{% endblock %}
{% block body %}
  <h2 class = "title">新規登録</h2>
  <div class="box5">
  <form method="post" action="{{ url_for('new') }}" class="form">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">氏名</label><br>
        <input type="text" name="name" value="{{name}}" class="form-control" id="exampleFormControlInput1" required>
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">メールアドレス</label><br>
          <input type="text" name="email" value="{{email}}" class="form-control" id="exampleFormControlInput1" required>
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">出身地</label><br>
          <input type="integer" name="prefecture" value="{{prefecture}}" class="form-control" id="exampleFormControlInput1" required>
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">出身中学</label><br>
          <input type="text" name="juniorhighschoolname" value="{{juniorhighschoolname}}" class="form-control" id="exampleFormControlInput1" required>
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">出身高等学校</label><br>
          <input type="text" name="highschoolname" value="{{highschoolname}}" class="form-control" id="exampleFormControlInput1" required>
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">指導可能な分野</label><br>
          <input type="text" name="teaching_area" value="{{teaching_area}}" class="form-control" id="exampleFormControlInput1" required>
      </div>
      <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">自己PR</label><br>
          <textarea type="text" name="pr" value="{{pr}}" class="form-control1" id="exampleFormControlInput1" style="height:7.5em; line-height:1.5;" required></textarea>
      </div>
    <br>
    <input type="submit" value="新規登録">
  </form>
  </div>
{% endblock %}
