{% extends 'base.html' %}

{% block head %}
    <title>search</title>
{% endblock %}

{% block body %}
<h1>コーチ一覧</h1>
<form action = "{{url_for('search_detail')}}" method = "POST" class="form-inline">
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">出身地</span>
    <input name = "Prefecture" type="text" class="form-control2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">出身中学校</span>
    <input name = "JHschool" type="text" class="form-control2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">出身高等学校</span>
    <input name = "Hschool" type="text" class="form-control2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">指導可能な分野</span>
    <input name = "Teach" type="text" class="form-control2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
  <input type ="submit" value = "検索">
</form>
  <table border="1" class="table table-hover" style="background-color: #fffaf0;" >
    <thead>
      <tr>
        <th>出身地</th>
        <th>出身中学</th>
        <th>出身高等学校</th>
        <th>指導可能な分野</th>
        <th>詳細リンク</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td>{{ result.prefecture }}</td>
          <td>{{ result.juniorhighschoolname}}</td>
          <td>{{ result.highschoolname}}</td>
          <td>{{ result.teaching_area}}</td>
          <td><a href="/detail/{{ result.id }}">詳細へ</a></td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endblock %}