{% extends 'base.html' %}

{% block head %}
    <title>search</title>
{% endblock %}

{% block body %}
<h1>コーチ一覧</h1>
  <table border="1" class="table-light">
    <thead>
      <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>出身地</th>
        <th>出身中学</th>
        <th>出身高等学校</th>
        <th>指導可能な分野</th>
        <th>自己PR</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td>{{ result.name}}</td>
          <td><a href="mailto:{{ result.email }}">{{ result.email }}</a></td>
          <td>{{ result.prefecture }}</td>
          <td>{{ result.juniorhighschoolname}}</td>
          <td>{{ result.highschoolname}}</td>
          <td>{{ result.teaching_area}}</td>
          <td>{{ result.pr}}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endblock %}