body {
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 img.card-img-top{
    object-fit: contain;
}

h1.title-name{
    text-align: center;
    font-size : 60px ;
    font-family: '游ゴシック Medium', sans-serif;
}

h5.card-title{
    font-weight: bold;
}
h1.title-name{
    padding: 1rem 1rem;
    background: #ff980080;
    color: rgb(124, 135, 226);
    border-radius: 3px;
}
 .card-group{
    margin: 0 auto;
 }
.card{
    opacity: 0.8;
}

 .form-control{
    width: 500px;
 }

 .form-control1{
    width: 1100px;
 }

 .form{
    color: white;
    font-weight: bold;
    font-size: large;
 }

 .box5{
    padding: 0.5em 1em;
    margin: 2em 10em;
    border: double 20px white;
    
}

input[type="submit"] {
	width: 20%;
    font-size: 15px;
    color: black;
	display: inline-block;
    padding: 15px 0px;
    text-align: center;
	background-color: white;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 1s;
}

/*--hover--*/
input[type="submit"]:hover {
    color: white;
    background-color: 	#1E90FF;
    border: 1px solid #5c87a6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

.input-group-text{
    border: 1px solid black;
    width: 10em;
}

.form-control2{
    border: 1px solid black;
    width: 20em;
}

.title{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: '游ゴシック Medium', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0.5em 1em;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}

.box14{
    font-size: 24px;
    width: 50%;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    /* box-shadow: 0px 0px 0px 10px #d6ebff; */
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
    margin: 0 auto;
    line-height: 2.0;
}